
<div class="container">
    <h2>Lista de Clientes</h2>

    @Html.ActionLink("Nuevo Cliente", "Nuevo", "Cliente", new { area = "" },
    new { @class = "btn btn-primary btn-sm" , @style= "margin - top: 20px" })

    <table class="table table-hover" style="margin-top: 20px; margin-bottom: 20px;">

        <thead>
            <tr>
                <th class="text-center">Nombres</th>
                <th class="text-center">Apellidos</th>
                <th class="text-center">Nro Documento</th>
                <th class="text-center">Correo</th>
                <th class="text-center">Nro Contacto</th>
                <th class="text-center"></th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody id="tb_body_cliente">
        </tbody>
    </table>
</div>

@section scripts {
    <script src="@Url.Content("~/Scripts/ajax/cliente.js")" type="text/javascript"></script>
}